 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #C3C4AC;
}
p.titre {
  font-family: ex_staypuft;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 2vh;
}
p.ligne {
  text-align: left;
  margin-left: 10vh;
  margin-top: 2px;
  margin-bottom: 2px;
}
a.nom {
  font-family: ex_handfont;
  font-size: 4vh;
  border: 2px solid grey;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.col {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
#gpl {
  text-align: center;
  font-size: 12px;
}
#gplimg {
  height: 32px;
  vertical-align: middle;
}
#exotice {
  height: 40px;
}
#exotice_div {
  position: absolute;
  top: 1vh;
  right: 0.5vh;
  font-size: 11px;
}
