 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #6D7BCF;
  overflow: hidden;
}
#main_div {
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}
input.jscolor {
  width: 5em;
}
button.jscolor {
  width:50px;
  height:20px;
}
.sep {
  height: 2px;
  background-color: #e6e6e6;
  width: 80%;
  font-size: 0px;
  margin: 5px;
  margin-left: 10%;
}
.sep2 {
  height: 2px;
  background-color: #757575;
  width: 80%;
  font-size: 0px;
  margin: 5px;
  margin-left: 10%;
}
#cr_rendu {
  width: 453px;
  height: 641px;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.cr_rendu_bloc {
  position: absolute;
  font-size: 0px;
}
.couverture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  left: 0px;
  top: 0px;
  cursor: move;
  box-sizing: border-box;
}
#cr_new_txt {
  width: 40px;
  vertical-align: middle;
}
.cr_coul {
  display: none;
}
#cr_texte_div {
  display: none;
}
#user {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-top: 8px;
  margin-left: 20px;
}
#cr_img_get_div {
  display: none;
}
#cr_audio_get_div {
  display: none;
}
#cr_video_get_div {
  display: none;
}
#cr_video_get {
  display: none;
}
#cr_txt_ini_div {
  display: none;
}
#cr_opt {
  display: inline-block;
  vertical-align: top;
  width: 450px;
  height: 100%;
  margin-top: 5px;
  overflow: auto;
  background-color: #D8D8D8;
}
.cr_opt_bloc {
  padding: 5px;
  border-radius: 2px;
  text-align: left;
}
.cr_opt_ligne {
  display: flex;
  align-items: center;
  padding: 4px;
}
input[type="number"] {
  width: 40px;
}
.cr_opt_ligne > * {
  margin-left: 4px;
}
.cr_font input[type="checkbox"] {
  display:none; 
}
.cr_font input[type="radio"] {
  display:none; 
}
.cr_font label {
  display:inline-block;
  box-sizing: border-box;
  padding: 2px;
  width: 18px;
  background-color: #D0D0D0;
  text-align: center;
}
.cr_font img {
  width: 16px;
}
.cr_font input[type="checkbox"]:checked + label {
  background-color: #909090;
}
.cr_font input[type="radio"]:checked + label {
  background-color: #909090;
}
#cr_panel1 {
  display: inline-block;
  vertical-align: top;
  width: 1100px;
}
#cr_tab_div {
  width: 95%;
  padding-left: 10px;
  position: relative;
}
#cr_tab_div img {
  position: absolute;
  height: 25px;
  right: 0px;
  top: 0px;
}
.cr_tab_btn {
  display: inline-block;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}
.cr_pa1 {
  width: 95%;
  padding: 5px;
  background-color: #6D7BCF;
  border: 5px solid grey;
  border-radius: 5px;
}
#cr_panel2 {
  display: inline-block;
  vertical-align: top;
}
#cr_txt_ini {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
#cr_btn_div {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: #D8D8D8;
}
#cr_btn_div2 {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: #D8D8D8;
}
#cr_nom {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.cr_img_btn {
  padding: 0;
}
.cr_img_btn img {
  width: 20px;
  vertical-align: middle;
}
#cr_img_get {
  display: none;
}
#cr_audio_get {
  display: none;
}
.cr_btn {
  padding: 2px;
  border-radius: 2px;
  height: 26px;
}
.cr_btn:hover {
  background-color: #FFFFFF;
}
#cr_record_div img {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
  display: none;
}
#exotice {
  position: absolute;
  top: 0px;
  right: 2px;
  height: 25.64px;
}
.cm {
  position: absolute;
  visibility: hidden;
  background-color: #E2E2E2;
  padding: 5px;
  border-radius: 3px;
  text-align: left;
  top: 0px;
}
.cm img {
  height: 26px;
  padding: 4px;
}
.cm img:hover {
  background-color: #ffffff;
}
#gpl {
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
#gplimg {
  height: 32px;
  vertical-align: middle;
  margin-bottom: 4px;
}
#exotice2 {
  height: 40px;
}
#bysa {
  position: absolute;
  transform:rotate(-90deg);
  transform-origin: top left;
  left: 2px;
  bottom: -1%;
  font-size: 10px;
}
#bysa img {
  height: 15px;
  vertical-align: middle;
}
#coin_img {
  position: absolute;
  right: -7%;
  bottom: 0px;
  opacity: 0.2;
  transform-origin: bottom center;
  transform: rotate(-45deg);
  width: 14%;
}
.cr_infos table {
  display: inline;
}
.cr_infos_td1 {
  text-align: right;
}
.cr_infos_td2 {
  text-align: left;
  font-weight: bold;
}
#cr_bloc_format {
  display: none;
}
#cr_bloc_inter {
  display: none;
}
#cr_btn_export {
  filter: grayscale(100%) blur(0.5px);
}
#cr_selection_rect {
  background-color: rgba(131, 180, 236, 0.4);
  border: 2px dashed #9d9dfb;
  position: absolute;
  display: none;
  font-size: 1px;
}
.cr_sel_pt {
  background-color: rgba(131, 180, 236, 0.4);
  border: 1px solid #9d9dfb;
  position: absolute;
  display: none;
  font-size: 1px;
  width: 8px;
  height: 8px;
}
.cr_sel_pt_rot {
  background-color: rgba(236, 131, 131, 0.4);
  border-color: #f93232;
  border-radius: 4px;
}
#cm_imgs {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid black;
  background-color: #D8D8D8;
  box-shadow: 0px 0px 10px 5px #ababab;
  visibility: hidden;
  max-height: 300px;
  overflow: auto;
}
#cm_imgs tr {
  height: 64px;
}
#cm_imgs td {
  width: 64px;
  text-align: center;
}
#cm_imgs td:hover {
  background-color: #696969;
}
#cm_imgs img {
  width: 60px;
}
#cr_img_add {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
  vertical-align: middle;
}
#cr_img_add:hover {
  background-color: #F3F3F3;
}
#cr_img_select {
  width: 340px;
}
#cr_save_bloque {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.5);
  color: grey;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#cr_save_centre {
  text-align: center;
}
#cr_save_centre img {
  height: 10vh;
  filter: grayscale(100);
  animation:rot 4s linear infinite;
}
@keyframes rot { 100% { transform:rotate(360deg); } }
