 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #ADD8E6;
  text-align: center;
}
input.jscolor {
  width: 5em;
}
button.jscolor {
  width:50px;
  height:20px;
}
input[type="number"] {
  width: 40px;
}
#ci_record_div {
  display: none;
}
#ci_record_div img {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
  display: none;
}
#ci_audio_get {
  display: none;
}
#cri_mod {
  text-align: center;
  background-color: #7F85A6;
  margin: 20px 0px 20px 0px;
}
#ci_img_get {
  display: none;
}
.cri_a_txt {
  width: 600px;
  height: 42px;
}
.cri_table {
  border-collapse: collapse;
}
.cri_table th {
  border: 1px solid black;
}
#cri_consigne {
  width: 500px;
  height: 42px;
}
.cr_opt_ligne {
  display: flex;
  align-items: center;
  padding: 4px;
}
#gpl {
  font-size: 14px;
  text-align: right;
  padding-right: 1vh;
}
#gplimg {
  height: 40px;
  vertical-align: middle;
}
#exotice {
  height: 50px;
}

.visi {
  background-color: silver;
  padding: 0px 4px 0px 4px;
  margin-right: 4px;
  border-radius: 4px;
}
.visi input {
  margin: 0px;
  vertical-align: middle;
}

#bandeau {
  text-align: right;
  width: 95%;
}
#bandeau2 {
  position : absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}
.bimg {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
}
.bimg:hover {
  background-color: #BBBBBB;
}
.bimg2 {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
  background-color: #BBBBBB;
}

.exotice {
  position: absolute;
  left: 2%;
  top: 0%;
}
.exotice img {
  height: 4vh;
}
.exotice span {
  padding-bottom: 1vh;
  vertical-align: middle;
  font-size: calc(8px + 0.5vh);
}
.copyright {
  font-size: 15px;
  background-color: #ADD8E6;
  padding: 4px;
  text-align: center;
}
.copyright img {
  min-height: 25px;
  height: 3vh;
  vertical-align: middle;
}
.col {
  display: inline-block;
  width: 45%;
  margin: 0% 1% 0px 1%;
  border: 2px solid orange;
  border-radius: 5px;
  vertical-align: top;
  width: auto;
  text-align: left;
}
.col td {
   white-space: nowrap;
}
.titre {
  font-weight: bold;
  font-size: 2em;
  position: relative;
  background-color: #9A9A9A;
  text-align: center;
}
