 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

textarea {
  resize: none;
}
div.lignef {
  display: flex;
  align-items: center;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
div.ligne2f {
  text-align: center;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.image {
  box-sizing: border-box;
  -moz-user-select: none;
  user-select: none;
}
.video {
  box-sizing: border-box;
  -moz-user-select: none;
  user-select: none;
}
.video iframe,video {
  width: 100%;
  height: 100%;
}
.cible {
  box-sizing: border-box;
  padding: 4px;
}
.texte_simple {
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.line {
  position: absolute;
  transform-origin: top left;
  stroke-width: 3px;
  stroke: #0700A3;
  stroke-linecap: round;
  width: 3px;
  height: 1px;
}
.line line {
  cursor: pointer;
}
.line polygon {
  stroke-width: 0;
  fill: red;
  display: none;
}
ellipse {
  stroke-linecap: round;
}
[tpe="ligne"] line {
  stroke-linecap: round;
}
.radio form {
  text-align: left;
  font-weight: bold;
}
.radio input {
  vertical-align: middle;
  margin: 0px;
}
.radio label {
  padding-left: 0.7em;
  background-size: 0.7em 0.7em;
  background-repeat: no-repeat;
  background-position: left center;
}
.radio input[type="radio"] + label {
  background-image: url("../icons/radio_off.svg");
}
.radio input[type="radio"]:checked + label {
  background-image: url("../icons/radio_on.svg");
}
.radio input[type="checkbox"] + label {
  background-image: url("../icons/check_off.svg");
}
.radio input[type="checkbox"]:checked + label {
  background-image: url("../icons/check_on.svg");
}
.radio input {
    display:none; 
}
.radiobtn form {
}
.radiobtn input[type="radio"] {
    display:none; 
}
.radiobtn label {
  display:inline-block;
  box-sizing: border-box;
  width: 100%;
  -moz-user-select: none;
  user-select: none;
}
.combo select {
  font-size: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  padding-right: 0.5em;
  background-image: url("../icons/combo_drop.svg");
  background-size: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-position: right center;
}
div.combo_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
div.texte_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
div.texte_corr2 {
  width: 100%;
  text-align: left;
  visibility: hidden;
  color: red;
  font-weight: bold;
}
.texte input {
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}
.texte textarea {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}
.multi span {
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
}
.multi span:hover {
  border: 1px solid grey;
}
span.multi_corr {
  border: 1px dashed red;
  font-style: italic;
  visibility: hidden;
  margin-right: 1em; /*2.5vh*/
}
img.multi_cim {
  width: 1em; /*2.5vh*/
  vertical-align: bottom;
}
.audio {
  box-sizing: border-box;
  -moz-user-select: none;
  user-select: none;
}
.audio_src {
  display: none;
}
.multi_ini {
  display: none;
}
svg {
  overflow: visible;
}
