 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #8AC3BB;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  margin: 0;
  font-family: ex_sans;
}
#exitdiv {
  position: absolute;
  left: 2px;
  top: 2px;
}
#exitimg {
  height: 4vh;
}
#eraseimg {
  height: 4vh;
}
#user {
  font-size: 2vh;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-left: 20px;
  margin-top: 8px;
}
a.page {
  background-color: #BFBFBF;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 2px;
}
a.pagecours {
  background-color: #4E4E4E;
  border: 1px solid #D4D4D4;
  color: #D4D4D4;
  text-decoration: none;
  padding: 2px;
}
a.pageavant {
  background-color: #BFBFBF;
  border: 1px solid #BFBFBF;
  color: #8A8A8A;
  text-decoration: none;
  padding: 2px;
}
a.pagebilan {
  background-color: #D1CFCF;
  border: 0px solid black;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
}
#c1 {
  width: 96vw;
  height: 138.6vw;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 2vh;
  padding: 2px;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  margin-left: 0.5vw;
  margin-top: 1vh;
  overflow: hidden;
  box-shadow: 5px 5px 5px grey;
}
#c2 {
  font-size: 1.8vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: block;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  width: 96vw;
  height: 80vw;
  vertical-align: middle;
  margin-left: 0.5vw;
  margin-top: 1vh;
  padding-top: 5px;
  box-shadow: 5px 5px 5px grey;
}
#c3 {
  font-size: 1.8vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: block;
  border: 5px solid grey;
  border-radius: 10px;
  width: 96vw;
  vertical-align: middle;
  margin-left: 0.5vw;
  margin-top: 1vh;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 5px grey;
}
#titrelivre {
  font-family: ex_staypuft;
  font-weight: bold;
  font-size: 7vh;
  margin-top: 4vh;
  background-color: grey;
}
#titreexo {
  font-weight: bold;
  font-size: 5vh;
}
#consigne {
  font-family: ex_jellee;
  font-size: 3vh;
  color: blue;
  width: 100%;
  text-align: left;
  margin-top: 2vh;
}
#consigne img {
  height: 6vh;
  vertical-align: middle;
}
#consigne audio {
  display: none;
}
#details {
  font-family: ex_handfont;
  font-size: 3vh;
  color: blue;
  width: 100%;
  margin-top: 1vh;
}
#bas {
  font-size: 2.4vh;
  text-align: center;
  width: 100%;
}
#introbas {
  position: absolute;
  bottom: 5px;
  font-size: 2.4vh;
  text-align: center;
  width: 100%;
}
#aideimg, #introimg {
  text-align: left;
  margin-top: 2vh;
}
#aideimg img {
  width: 20%;
}
#introimg img {
  max-height: 30vh;
}
#aide {
  position: absolute;
  left: 18%;
  top: 40vh;
  width: 55vh;
  visibility: hidden;
}
#corr {
  width: 100%;
}
#ctable {
  width: 100%;
}
#cbtn {
  width: 10vh;
}
#cbtnimg {
  height: 10vh;
  border-radius: 0.4vh;
  background-color: #c3c3c3;
  margin-right: 5px;
}
#cbtnimg:hover {
  background-color: #D8D8D8;
}
#cflag {
  width: 10vh;
  visibility: hidden;
}
#cflagimg {
  height: 10vh;
}
#ctxt {
  border: 3px solid red;
  font-size: 2.3vh;
  font-weight: normal;
  height: 16vh;
  border-radius: 5px;
  visibility: hidden;
}
#cscore {
  font-family: ex_staypuft;
  font-size: 4vh;
  font-weight: bold;
  visibility: hidden;
}
#rea {
  -moz-appearance:button;
  -webkit-appearance: button;
  text-decoration: none;
  color: initial;
}
.coin_d {
  position: absolute;
  right: -7%;
  bottom: 0px;
  opacity: 0.2;
  transform-origin: bottom center;
  transform: rotate(-45deg);
}
.coin_d:hover {
  opacity: 1;
}
div.coin_g {
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.2;
}
div.coin_g:hover {
  opacity: 1;
}
#coinimg {
  width: 14%;
}
#bysa {
  position: absolute;
  transform:rotate(-90deg);
  transform-origin: top left;
  left: 2px;
  bottom: -1%;
  font-size: 10px;
}
#bysa img, #intro_bysa img {
  height: 15px;
  vertical-align: middle;
}
#exotice {
  height: 4vh;
  position: absolute;
  top: 0;
  right: 2px;
}

#essaisdiv {
  width: 10vh;
  text-align: center;
}
#essais_inf {
  width: 5vh;
}
.essais_1 {
  width: 2.5vh;
}

.retry {
  width: 4vh;
  border-radius: 0.2vh;
}
.retry:hover {
  background-color: #D8D8D84D;
}

#sommaire {
  flex: 1;
  font-size: 4vh;
  margin-top: 5vh;
  display: block;
  text-align: left;
}
#sommaire a, #sommaire a:link, #sommaire a:visited {
  text-decoration: none;
  color : inherit;
}
.sommaire_finit {
  font-style: italic;
  color: #9A9A9A;
}
.sommaire_vide {
  font-weight: bold;
  color: #0BAC24;
}
.sommaire_score {
  background-color: #c8c8c8;
}
#sommaire img {
  height: 4vh;
  vertical-align: middle;
}
#basdiv {
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 100%;
  text-align: right;
}
#gotxt {
  font-size: 5vh;
  vertical-align: middle;
  display: inline-block;
}
#goimg {
  height: 12vh;
  padding-left: 1vh;
  vertical-align: middle;
}
