body {
  text-align: center;
}
#photo_c {
  height: 98vh;
  font-size: 1.8vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid grey;
  border-radius: 10px;
  width: 69.3vh;
  vertical-align: middle;
  margin-right: 0.5vw;
  margin-top: 1vh;
  padding-top: 5px;
  box-shadow: 5px 5px 5px grey;
  background-color: #eeeeee;
}
#user {
  position: relative;
  font-size: 2vh;
  font-style: italic;
  font-weight: bold;
  margin-top: 8px;
  height: 4vh;
}
#exitdiv {
  position: absolute;
  left: 2px;
  top: 2px;
}
#exitdiv img {
  height: 4vh;
}
#exotice {
  height: 4vh;
  position: absolute;
  top: 0;
  right: 2px;
}
#bysa {
  position: absolute;
  transform:rotate(-90deg);
  transform-origin: top left;
  left: 2px;
  bottom: -1%;
  font-size: 10px;
}
#bysa img {
  height: 15px;
  vertical-align: middle;
}
#titrelivre {
  font-family: ex_staypuft;
  font-weight: bold;
  font-size: 7vh;
  background-color: grey;
}

#photo_liste {
text-align: left;
line-height: 0px;
}
#photo_liste > div{
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 0.2vh 0.3vh;
  position: relative;
  width: 15.6vh;
  height: 19.2vh;
  display: inline-block;
}

.photo_0 {
  background-color: #ff0000;
}
.photo_1 {
  background-color: #FFC300;
}
.photo_2 {
  background-color: #00D00E;
}

.photo_modele {
  display: block;
  height: 20%;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1px solid black;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: normal;
}

.photo_1 .photo_modele:hover, .photo_0 .photo_modele:hover {
  max-width:98%;
  max-height:98%;
  width: auto;
  height: auto;
  margin: 0;
  top: 0px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.photo_-1 .photo_modele, .photo_reponse, .photo_icone {
  display: block;
  max-width:98%;
  max-height:98%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
}
.photo_icone {
  max-width:70%;
  max-height:70%;
  filter: grayscale(40%) blur(0.1px) opacity(0.9);
}

.photo_form input {
visibility: hidden;
position: absolute;
}
.photo_form label {
width: 100%;
height: 100%;
position: absolute;
left: 0px;
top: 0px;
}

.essais_div {
position: absolute;
right: 0;
bottom: 0;
}
.essais_div img {
height: 2vh;
}
.essais_gris {
filter: grayscale(100%) blur(0.5px) opacity(0.4);
}
