 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

@font-face {
  font-family: ex_handfont;
  src: url("handfont.ttf");
}
@font-face {
  font-family: ex_abccursive;
  src: url("ABCcursive_gr.ttf");
}
@font-face {
  font-family: ex_staypuft;
  src: url("StayPuft.ttf");
}
@font-face {
  font-family: ex_breip;
  src: url("Breip.ttf");
}
@font-face {
  font-family: ex_lcddotmatrix;
  src: url("LCDDotMatrix5x8.ttf");
}
@font-face {
  font-family: ex_ecolier;
  src: url("ec_cour.ttf");
}
@font-face {
  font-family: ex_ecolier_ligne;
  src: url("ecl_cour.ttf");
}

@font-face {
  font-family: ex_sans;
  src: url("LiberationSans-Regular.ttf");
}
@font-face {
  font-family: ex_sans;
  src: url("LiberationSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: ex_sans;
  src: url("LiberationSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ex_sans;
  src: url("LiberationSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: ex_serif;
  src: url("LiberationSerif-Regular.ttf");
}
@font-face {
  font-family: ex_serif;
  src: url("LiberationSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: ex_serif;
  src: url("LiberationSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ex_serif;
  src: url("LiberationSerif-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: ex_mono;
  src: url("LiberationMono-Regular.ttf");
}
@font-face {
  font-family: ex_mono;
  src: url("LiberationMono-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: ex_mono;
  src: url("LiberationMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ex_mono;
  src: url("LiberationMono-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: ex_jellee;
  src: url("Jellee-Roman.ttf");
}
