 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #ADD8E6;
  text-align: center;
}
#bandeau {
  text-align: right;
  width: 95%;
  position: relative;
}
.bimg {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
}
.bimg:hover {
  background-color: #BBBBBB;
}
.bimg2 {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
  background-color: #BBBBBB;
}
#logs {
  width: 100%;
  text-align: left;
}
div.ligne {
  width: 100%;
}
.user {
  display: block;
  width: 100%;
  padding-left: 1%;
  font-size: calc(15px + 0.7vh);
  font-weight: bold;
  color: #2F2F2F;
  box-sizing: border-box;
  cursor: pointer;
}
.cb_pli {
  display: none;
}
.cb_pli + div {
  display: none;
}
.cb_pli:checked + div {
  display: block;
}

div.livre {
  background-color: #AFAFAF;
  width: 95%;
  margin-left: 5%;
  border-style: none none solid none;
  border-width: 2px;
  border-color: grey;
}
.cat {
  display: block;
  width: 97%;
  margin-left: 3%;
  font-size: calc(12px + 0.5vh);
  font-weight: bold;
  background-color: #878787;
  box-sizing: border-box;
  padding-left: 1%;
  cursor: pointer;
}
table.ltable {
  width : 100%;
}
th.lnom {
  font-size: calc(12px + 0.5vh);
  font-weight: bold;
  color: blue;
  vertical-align: center;
  width: 40vh;
}
th.lscore {
  font-size: calc(12px + 0.5vh);
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  width: 10vh;
}
th.lexos {
  vertical-align: center;
}
span.exo {
  border: 1px solid black;
  font-size: calc(9px + 0.5vh);
  padding: 1px;
  white-space: nowrap;
  margin-right: 0.5vh;
}
img.erimg {
  height: calc(9px + 0.5vh);
  vertical-align: middle;
  cursor: pointer;
  margin-left: 0.3vh;
}
.exo a {
  text-decoration: none;
}
.exotice {
  position: absolute;
  left: 2%;
  top: 0%;
}
.exotice img {
  height: 4vh;
}
.exotice span {
  padding-bottom: 1vh;
  vertical-align: middle;
  font-size: calc(8px + 0.5vh);
}
.copyright {
  font-size: 15px;
  background-color: #ADD8E6;
  padding: 4px;
  text-align: center;
}
.copyright img {
  min-height: 25px;
  height: 3vh;
  vertical-align: middle;
}
#user_aide {
  float: left;
  width: 30%;
}
#user_forme {
  margin-left: 32%;
}
#cr_save_bloque {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.5);
  color: grey;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#cr_save_centre {
  text-align: center;
}
#cr_save_centre img {
  height: 10vh;
  filter: grayscale(100);
  animation:rot 4s linear infinite;
}
@keyframes rot { 100% { transform:rotate(360deg); } }

.lphoto a, .lphoto a:visited, .lphoto a:hover, .lphoto a:link{
  color: black;
  text-decoration: none;
}

#photo_liste {
text-align: left;
line-height: 0px;
}
#photo_liste > div{
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 0.2vh 0.3vh;
  width: 16vh;
  height: 22vh;
  display: inline-block;
}

.photo_-1 {
  height: 20vh;
  position: relative;
}
.photo_0 {
  background-color: #ff0000;
  height: 20vh;
  position: relative;
}
.photo_1 {
  background-color: #FFC300;
  height: 20vh;
  position: relative;
}
.photo_2 {
  background-color: #00D00E;
  height: 20vh;
  position: relative;
}

.photo_modele {
  display: block;
  height: 20%;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1px solid black;
  background-color: white;
}

.photo_1 .photo_modele:hover, .photo_0 .photo_modele:hover {
  max-width:98%;
  max-height:98%;
  width: auto;
  height: auto;
  margin: 0;
  top: 0px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.photo_-1 .photo_modele, .photo_reponse, .photo_icone {
  display: block;
  max-width:98%;
  max-height:98%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
}
.photo_icone {
  max-width:70%;
  max-height:70%;
  filter: grayscale(40%) blur(0.1px) opacity(0.9);
}
.photo_gris {
  filter: grayscale(100%) blur(0.1px) opacity(0.4);
}

.photo_controles {
height:2vh;
text-align:center;
}
.photo_controles img {
height: 2vh;
}
.essais_div {
position: absolute;
right: 0;
bottom: 0;
}
.essais_div img {
height: 2vh;
}
.essais_gris {
filter: grayscale(100%) blur(0.5px) opacity(0.4);
}
