 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--
    
    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #ADD8E6;
  text-align: center;
}
.col {
  display: inline-block;
  width: 45%;
  margin: 0% 1% 0px 1%;
  border: 2px solid orange;
  border-radius: 5px;
  vertical-align: top;
}
.titre {
  font-weight: bold;
  font-size: 2em;
  position: relative;
  background-color: #9A9A9A;
}
.iligne {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.eligne {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.eimg {
  width: 30px;
  cursor: pointer;
  vertical-align: middle;
}
.gris {
  filter: grayscale(100%);
}
#idetails {
  width: 96%;
  max-width: 400px;
}
#inotes {
  width: 96%;
  max-width: 400px;
  height: 80px;
}
.trt {
  text-align: center;
  font-weight: bold;
}
.trnew {
  background-color: grey;
}
.td1 {
  text-align: right;
  padding: 5px;
  white-space: nowrap;
}
.td2 {
  text-align: left;
  padding: 5px;
}
.td3 {
  white-space: nowrap;
}
.groupes {
  line-height: 160%;
}
.ea {
  text-decoration: none;
  color: black;
}
.enew {
  border: 1px solid grey;
}
.enewa {
  text-decoration: none;
  font-weight: bold;
  color: orange;
}
#bandeau {
  text-align: right;
  width: 95%;
  display: flex;
}
#bandeau2 {
  text-align: center;
  flex: 1;
}
.bimg {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
}
.bimg:hover {
  background-color: #BBBBBB;
}
.bimg2 {
  height: 3.8vh;
  padding: 0.1vh;
  border-radius: 3px;
  background-color: #BBBBBB;
}
.exotice {
  position: absolute;
  left: 2%;
  top: 0%;
}
.exotice img {
  height: 4vh;
}
.exotice span {
  padding-bottom: 1vh;
  vertical-align: middle;
  font-size: calc(8px + 0.5vh);
}
.copyright {
  font-size: 15px;
  background-color: #ADD8E6;
  padding: 4px;
  text-align: center;
}
.copyright img {
  min-height: 25px;
  height: 3vh;
  vertical-align: middle;
}
input.jscolor {
  width: 5em;
}
.users {
  width: auto;
}
.users td {
   white-space: nowrap;
}
.visi {
  background-color: silver;
  padding: 0 4px 0 4px;
  margin-right: 4px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
}
.visi input {
  margin: 0px;
  vertical-align: middle;
}

.photo_liste {text-align: left;}
.photo_liste > div{width: 100px; height: 150px; position: relative;display: inline-block; border: 1px solid black; border-radius: 4px; padding: 4px;margin: 4px;}
.photo_item {
  display: block;
  max-width:100px;
  max-height:150px;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
}
.photo_actions{position: absolute; right: 0px; top: 50%; background-color:#c0bfbfcc;-ms-transform: translate(0%, -50%); transform: translate(0%, -50%);}
#photo_iimg {
  visibility: hidden;
  width: 20px;
}
.photo_cimg_form input {
  visibility: hidden;
  width: 1px;
}
#photo_iimg_form, .photo_cimg_form {
  display: inline;
}
.photo_add_icone {
  height: 32px;
  cursor: pointer;
}
.photo_corr {
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: white;
  border: 1px solid red;
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 30%;
}
.photo_corr:hover {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
